<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin dashboard</title>
</head>
<body>
    <h1>welcome</h1>
    {% for item in schedule %}
        <h4>This is the schedule for the year {{item.year}} semester {{item.semester}}</h4>
    {% endfor %}
    {% for item in teacher %}
    <ul>
        <li>
            <a href="{% url 'sessions' item.id %}">{{item.name}} <i>{{item.rank}}</i></a>
        </li>
    </ul>
        
    {% endfor %}
</body>
</html>